/* CSS by MATTHEW ADCOCK */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
#skip{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
 
#skip:focus{
  position: static;
  width: auto;
  height: auto;
}

/* ///ADD/// Navigation Styles */

.mobile-nav{
  position: relative;
  text-align: center;
  z-index: 10;
  font-family: var(--font-body);
}

.menu-button{
  display: block;
  width: 93%;
  margin: 1rem auto;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 0.5rem 0;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--blue-bulletin);
  transition: background-color 1s ease;
}

.menu{
  display: none;
  background-color: var(--blue-bulletin);
  min-width: 200px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu a{
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--blue-bulletin);
  transition: var(--transition);
}

.menu a:hover, .menu-button:hover, footer button:hover{
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash)
}

input:checked ~ .menu{
  display: block;
  margin: 0 auto;
  width: 94%;
  font-size: 1rem;
  box-shadow: var(--shadow);
  
}

/* ///ADD/// Global Layout Styles */
header{
  background-color: var(--blue-bulletin);
  font-family: var(--font-heading);
}


/* ///ADD/// Global Text Styles */
body{
  min-width: 400px;
  font-family: var(--font-body);
  background-color: var(--watchdog-white);
}

header{
  background-color: var(--blue-bulletin);
  padding: 0.25rem 0;
  color: var(--watchdog-white);
}

h1{
  font-size: 3rem;
  font-weight: lighter;
  padding: 1rem;
}

header p{
  padding-left: 1rem;
  font-weight: bold;
}

#main-content h2{
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2rem 0 1rem 1rem;
}

#main-content p{

  line-height: 1.5rem;
  font-weight: 400;
}

h2 ~ p{
  padding: 0 2rem 1rem 1rem;
}

#main-content blockquote{
  font-family: var(--font-heading);
  font-size: 1rem;
  display: block;
  text-align: center;
}

#breaking-news, #featured-articles{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

#featured-articles article:hover, #breaking-news article:hover{
  transform: scale(1.05);
}

#breaking-news h2, #featured-articles h2{
  grid-column: 1 / -1;
  padding-bottom: 1rem;
}

#breaking-news article{
  background-color: var(--news-flash);
  margin-left: 2rem;
  margin-right: 2rem;
  color: var(--watchdog-white);
  border: 2px solid var(--truth-text);
  box-shadow: var(--shadow);
  transition: var(--transition);
  cursor: pointer;
}

#breaking-news h3{
  font-family: var(--font-heading);
  font-size: larger;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 1rem 1rem 0 1rem;
  border-bottom: 1px solid var(--watchdog-white);
}

#breaking-news p{
  padding: 0.75rem 0 0.25rem 1rem;
}

#breaking-news video{
  width: 93%;
  height: auto;
  display: block;
  max-width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}

#featured-articles article{
  margin-left: 2rem;
  margin-right: 2rem;
  border: 2px solid var(--story-subtitle);
  box-shadow: var(--shadow);
  transition: var(--transition);
  cursor: pointer;
}


#featured-articles h3{
  font-family: var(--font-heading);
  font-size: larger;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 1rem 1rem 0 1rem;
  border-bottom: 1px solid var(--story-subtitle);
}

#featured-articles p{
  padding: 0.75rem;
}

form{
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--news-flash);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
  color: var(--watchdog-white);
  border: 1px solid var(--truth-text);
  box-shadow: var(--shadow);
}
#form-inputs{
  display: grid;
  grid-template-columns: 1fr;
}

form label{
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}
form input{
  padding-bottom: 1rem;
  font-size: 1rem;
  text-align: left;
}

fieldset{
  border: 1px solid var(--blue-bulletin);
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#form-item{
  padding: 0.5rem 0;
}

input[type="checkbox"]{
  transform: scale(1.5);
  margin-right: 0.5rem;
  accent-color: var(--blue-bulletin);
}

fieldset legend{
  text-transform: uppercase;
  margin-top: 1rem;
}

input[type="submit"]{
  cursor: pointer;
  text-align: center;
  padding-top: 1rem;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  text-transform: uppercase;
  margin: 0.25rem 0 2rem 0;
  font-size: 1.25rem;
  box-shadow: var(--shadow); 
  transition: var(--transition);
}

input[type="submit"]:hover {
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
}


footer{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 2rem 1rem 2rem 1rem;
  font-size: 1.5rem;
  font-family: var(--font-heading);
}

footer button{
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 0.5rem;
  margin: 1rem 1rem 0 0;
  border: solid 1px var(--blue-bulletin);
  transition: var(--transition);
}

footer p{
  margin: 0 auto;
  padding: 4rem 0 0 0;
  text-align: center;
  font-size: small;
}


/* ///ADD/// medium styles 620px */

@media screen and (min-width: 600px){
  .menu-button{
    display: none;
  }

  .mobile-nav{
    text-align: left;
  }

  .menu{
  all: unset;
  background-color: var(--blue-bulletin);
  gap: 1rem;
  padding-left: 1rem;
  list-style-type: none;
  }

  .menu li{
    display: inline-block;
    padding: 1rem 0.25rem 0.75rem 0;
    
  }

  #breaking-news, #featured-articles{
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem;
}

#breaking-news article, #featured-articles article{
  margin: 0;
}

fieldset{
  grid-template-columns: 1fr 1fr;
}

#form-inputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

input[type="text"]{
grid-column-start: 1;
grid-row-start: 2;
margin-right: 0.25rem;
}

}


/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px){

  #featured-articles{
   grid-template-columns: 1fr 1fr 1fr;
  }

  fieldset{
  grid-template-columns: 1fr 1fr 1fr;
}

}


/* ///ADD/// x-large styles 1024px */

@media screen and (min-width: 1024px){

  #main-content{
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
  }

  header h1, header p, header nav, footer #socials, footer p{
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
  }

  .menu{
    padding-left: 0.25rem;
  }
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}